<html>

<head>
  <title>Weight</title>
</head>

<body>
  <div id="chart_div"></div>
  <br />
  <!--
        <%= results.inspect %>
<% entries.point.to_ary.each do |elem|%>
    <% if elem.start_time_nanos / 1000000 != 1428870763035 and elem.start_time_nanos / 1000000 != 1421958651122 and elem.start_time_nanos / 1000000 != 1422064899904 and elem.start_time_nanos / 1000000 != 1422132425581 and elem.start_time_nanos / 1000000 != 1420490820535  and elem.start_time_nanos / 1000000 != 1422132425581 %>
    [new Date(<%= elem.start_time_nanos / 1000000 %>), <%= elem.value[0].fp_val.round(2) %>],
    <% end %>
<% end %>
-->
</body>
<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>

<script src="/firebase.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', { packages: ['corechart', 'line'] });
  google.setOnLoadCallback(drawChart);

  function drawChart() {

    var dataArray = [
      [
        'Date',
        'Weight',
        { type: 'string', role: 'annotation' },
        { type: 'string', role: 'annotationText' },
        'Average',
        'Steps'
      ]
    ];
    <% results.each do | elem | %>
      var theAnnotation = annotations.find(function(annotation) { return annotation.date.getTime() === <%= elem[:timestamp] %>});
      dataArray.push(
      [
        new Date(<%= elem[:timestamp] %>),
        <% if elem[:weight].nil? or elem[:weight] == 0 then %> null <% else %><%= elem[:weight] %><% end %>,
        theAnnotation ? theAnnotation.annotation : null,
        theAnnotation ? theAnnotation.annotationText: null,
        <% if elem[:movingAverage].nil? or elem[:movingAverage] == 0 then %><% if elem[:weight].nil? or elem[:weight] == 0 then %> null <% else %><%= elem[:weight] %><% end %><% else %><%= elem[:movingAverage] %><% end %>,
        <% if elem[:steps].nil? then %> null <% else %><%= elem[:steps] %><% end %>
      ]);
    <% end %>
    var data = google.visualization.arrayToDataTable(dataArray);

    var options = {
      title: 'Weight and steps',
      vAxes: [{ title: 'Kg', viewWindowMode: 'pretty' }, { title: 'Steps', viewWindowMode: 'pretty' }],
      hAxis: { title: 'Month' },
      seriesType: 'line',
      series: {
        2: { type: 'bars', targetAxisIndex: 1 }
      },
      axes: {
        y: {
          Weight: { label: 'Weight', viewWindowMode: 'pretty' },
          Steps: { label: 'Steps', viewWindowMode: 'pretty' }
        }
      },
      width: 900,
      height: 500,
      curveType: 'function'
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

</html>