<html>
    <head>
        <title>Weight</title>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1', {packages: ['corechart', 'line']});
            google.setOnLoadCallback(drawChart);

            /*
                     function drawVisualization() {
        // Some raw data (not necessarily accurate)

        var data = google.visualization.arrayToDataTable([
         ['Date', 'Weight', {type:'string', role:'annotation'}, {type:'string', role:'annotationText'}, 'Moving Average', 'Average'],
          [new Date(1445546451113),  121.1, null, null, 121.1, 10000],
          [new Date(1445645700000),  121.2, null, null, 121.2, 7000],
          [new Date(1445720400000),  120.8, 'A', 'Hello', 120.8, 9666],
          [new Date(1445804937256),  120.3, null, null, 121.44, 3444],
          [new Date(1446149700000),  121.9, null, null, 121.63, 5000]
      ]);

    var options = {
      title : 'Monthly Coffee Production by Country',
      vAxis: {0 : {title: 'Cups'}, 1: {title: 'Cuppos'}},
      hAxis: {title: 'Month'},
      seriesType: 'line',
      series: {
        0: {type: 'line', axis: 'Weight'},
        1: {type: 'line', axis: 'Weight'},
        2: {type: 'bars', axis: 'Steps'}
      },
      axes: {
        y: {
          Weight: { label: 'Weight' },
          Steps: { label: 'Steps' }
        }
      }
    }; */

            function drawChart() {

              var data = google.visualization.arrayToDataTable([
                ['Date', 'Weight', {type:'string', role:'annotation'}, {type:'string', role:'annotationText'}, 'Average', 'Steps'],
            <% results.each do |elem| %>
                [new Date(<%= elem[:timestamp] %>), <% if elem[:weight].nil? or elem[:weight] == 0 then %>null<% else %><%= elem[:weight] %><% end %>, <% if elem[:annotation].nil? then %>null<% else %>"<%= elem[:annotation] %>"<% end %>, <% if elem[:annotationText].nil? then %>null<% else %>"<%= elem[:annotationText] %>"<% end %>, <% if elem[:movingAverage].nil? or elem[:movingAverage] == 0 then %><% if elem[:weight].nil? or elem[:weight] == 0 then %>null<% else %><%= elem[:weight] %><% end %><% else %><%= elem[:movingAverage] %><% end %>, <% if elem[:steps].nil? then %>null<% else %><%= elem[:steps] %><% end %>],
            <% end %>
              ]);

              var options = {
                title: 'Weight and steps',
                vAxes: [{title: 'Kg', viewWindowMode: 'pretty'},{title: 'Steps', viewWindowMode: 'pretty'}],
                hAxis: {title: 'Month'},
                seriesType: 'line',
                series: {
                  2: {type: 'bars', targetAxisIndex: 1}
                },
                axes: {
                  y: {
                    Weight: { label: 'Weight', viewWindowMode: 'pretty' },
                    Steps: { label: 'Steps', viewWindowMode: 'pretty' }
                  }
                },
                width: 900,
                height: 500,
                curveType: 'function'
              };

              var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

              chart.draw(data, options);
            }
        </script>
    </head>
    <body>
        <div id="chart_div"></div>
        here tis<br />
<!--
        <%= results.inspect %>
<% entries.point.to_ary.each do |elem|%>
    <% if elem.start_time_nanos / 1000000 != 1428870763035 and elem.start_time_nanos / 1000000 != 1421958651122 and elem.start_time_nanos / 1000000 != 1422064899904 and elem.start_time_nanos / 1000000 != 1422132425581 and elem.start_time_nanos / 1000000 != 1420490820535  and elem.start_time_nanos / 1000000 != 1422132425581 %>
    [new Date(<%= elem.start_time_nanos / 1000000 %>), <%= elem.value[0].fp_val.round(2) %>],
    <% end %>
<% end %>
-->
    </body>
</html>
